---

const {
  variant = "primary", // Existen las variantes: primary, secondary y tertiary
  href,                // Si se pasa href -> <a>; si no -> <button>
  type = "button",     // Para formularios: button, submit, reset
  children             // Children será el "nombre" del botón. Por ejemplo: Aceptar, Ver carta, etc.
} = Astro.props;
---

{href ? (
    <a href={href} class={`btn ${variant}`}>{children}</a>
    ) : (
    <button type={type} class={`btn ${variant}`}>{children}</button>
)}

