---
const {
  variant = "primary", // Existen las variantes: primary, secondary y tertiary
  href,                // Si se pasa href -> <a>; si no -> <button>
  type = "button",     // Para formularios: button, submit, reset
  children             // Children será el "nombre" del botón. Por ejemplo: Aceptar, Ver carta, etc.
} = Astro.props;
---

{href ? (
  <a href={href} class={`btn ${variant}`}>{children}</a>
) : (
  <button type={type} class={`btn ${variant}`}>{children}</button>
)}

<style>
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .btn:hover {
    transform: scale(1.03);
  }

  .btn:active {
    transform: scale(0.97);
    box-shadow: 0 2px 5px var(--color-grey-shadow);
    opacity: 0.8;

  }

  /* Botón primario */
  .btn.primary {
    background-color: var(--color-red);
    color: var(--color-white);
    border: 2px solid var(--color-red-hover);
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  .btn.primary:hover {
    background-color: var(--color-red-hover);
    color: var(--color-white);
  }

  /* Botón secundario */
  .btn.secondary {
    background-color: var(--color-white);
    border: 2px solid var(--color-grey);
    color: var(--color-black);
  }
  .btn.secondary:hover {
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    color: var(--color-black);
  }

  /* Botón terciario */
  .btn.tertiary {
    background: none;
    color: var(--color-black);
    font-size: 0.9rem;
    border: none;
    padding: 0.5rem 0.75rem;
  }
  .btn.tertiary:hover {
    text-decoration: underline;
    font-weight: 500;
    color: var(--color-red-hover);
  }
</style>
