---
const {childrenH4, childrenP, className = "", textButton, childrenHref, imgSrc, imgAlt} = Astro.props;

import Button from "./Button.astro";
---

<section class={`card ${className}`}>
    <img src={imgSrc} alt={imgAlt} class="cards-logo">
    <h4>{childrenH4}</h4>
    <p>{childrenP}</p>
    <Button variant="secondary" children={textButton} href={childrenHref}></Button>
</section>

